.main-container {
  position: relative;
  padding: 20px 0;
  margin-top: 40px;
}

.lees-meer {
  display: block;
  margin: 0 auto;
  width: 200px;
  padding: 10px;
  color: #fff;
  background: #009ee2;
  margin-top: 20px;
  text-align: center;
  transition: all 0.1s ease-in;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  &:hover {
    background: #000;
  }
}

.eredivisie-container {
  padding: 30px 0;
  border-top: 1px solid $blue;
  border-bottom: 1px solid $blue;
  margin-top: 30px;
  background: #111;
}

.stand-container {
  .clublogo {
    width: 20px;
    height: auto;
  }
}

.stand-container, .programma-container {
  .inner-content {
    margin: 0 5px;
    background: transparent;
  }
  h3 {
    margin: 0;
  }
  table {
    color: #fff;
    width: 100%;
    line-height: 26px;
  }
}

.programma-container {
  .wedstrijd {
    strong {
      display: block;
      padding: 5px;
      color: $blue;
    }
    color: #fff;
    text-align: center;
  }
}

.instagram {
  width: 50%;
}


app-volgendewedstrijd {
  background: #009ee2;
  padding: 20px;
  width: 320px;
  position: absolute;
  right: -20px;
  display: flex;
  top: -220px;
  justify-content: center;
  box-sizing: border-box;
  .logos {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    .clublogo {
      width: 60px;
      height: auto;
      margin: 0 10px;
    }
  }
  h2 {
    text-transform: uppercase;
    color: #fff;
    margin: 0 0 10px 0;
    font-weight: normal;
    strong {
      font-weight: bold;
    }
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    color: #fff;
    font-weight: 400;
    display: block;
    text-align: center;
    margin: 0;
    font-size: 14px;
    margin: 0;
    padding: 0;
    strong {
      font-weight: 900;
    }
  }
  h4 {
    font-weight: normal;
    font-size: 16px;
    margin: 5px 0 0 0;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  app-volgendewedstrijd {
    top: -100px;
    right: 20px;
    width: 200px;
    box-sizing: border-box;
    h2 {
      font-size: 14px;
    }
    h3, h4 {
      font-size: 12px;
    }
  }
  app-newsitems {
    h3 {
      margin-top: 30px;
    }
  }
  .stand-container, .programma-container {
    padding: 30px 0;
    .stand {
      padding: 0;
      text-align: center;
      .clubnaam {
        text-align: left;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .stand-container, .programma-container {
    padding: 30px 0;
  }
}


