.logo {
  display: block;
  width: 140px;
  height: auto;
  background: #fff;
  margin: 0 auto;
  position: absolute;
  z-index: 1;
  top: 10px;
  left: -50px;
  padding: 10px 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  height: 100px;
  background: #000;
  z-index: 99;
  .mobile {
    display: none;
    ul {
      visibility: hidden;
    }
  }
  .desktop {
    padding-left: 450px;
    ul {
      &.navigation {
        visibility: visible;
        flex-direction: row;
        position: relative;
        background: transparent;
        pointer-events: auto;
        padding: 20px 0;
        li {
          display: inline-block;
          width: auto;
          a {
            font-weight: bold;
            color: #fff;
            text-transform: uppercase;
            display: block;
            padding: 10px 20px;
            font-weight: bold;
            text-decoration: none;
            font-size: 14px;
            &.active {
              color: $blue;
              border-bottom: 2px solid $blue;
            }
            &:hover {
              color: #999;
              border-bottom: 2px solid #999;
            }
          }
          &.social {
            float: right;
            a {
              display: inline-block;
              padding: 10px 0;
              margin: 0 10px;
              &:hover {
                color: $blue;
                border: none;
              }
            }
          }
        }
      }
    }
  }
  .mobile {
    ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: left;
      margin: 0;
      padding: 0 0 0 140px;
      &.navigation {
        visibility: hidden;
        transition: all 0.2s ease-in;
        display: block;
        top: 0;
        z-index: 9;
        pointer-events: none;
        width: 0%;
        padding: 20px 0;
        height: 100%;
        box-sizing: border-box;
        position: fixed;
        right: 0;
        background: #222;
        font-size: 20px;
        display: block;
        &.active {
          visibility: visible;
          pointer-events: auto;
          width: 70%;
        }
        li {
          display: block;
          width: 100%;
          a {
            color: #fff;
            text-transform: uppercase;
            display: block;
            padding: 15px 20px;
            border-bottom: 1px solid #000;
            font-weight: bold;
            text-decoration: none;
            font-size: 14px;
            &:hover {
              color: $blue;
            }
          }
          ul {
            padding: 15px 0;
            display: block;
            li {
              a {
                padding: 0 20px 5px 20px;
                font-weight: normal;
                color: $blue;
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }

}

.overlay {
  background: rgba(0,0,0,0.75);
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  z-index: 5;
  transition: all 0.2s ease-in;
  opacity: 0;
  &.active {
    visibility: visible;
    opacity: 1;
  }
}

form {
  position: relative;
  width: 290px;
  margin: 10px 0 0 120px;
  float: left;
  input[type=text] {
    display: block;
    width: 250px;
    margin: 0 auto;
    padding: 20px;
    background: #222;
    border: none;
    outline: none;
    color: #fff;
    font-size: 16px;
  }
  button[type=submit] {
    background: #009ee2;
    display: inline-block;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    padding: 23px;
    outline: none;
    .fa {
      color: #fff;
    }
  }
}

.toggle-nav {
  position: fixed;
  top: 35px;
  right: 35px;
  z-index: 99;
  padding: 10px;
  .fa {
    font-size: 30px;
    color: #fff;
  }
  &:hover {
    color: $blue;
  }
}



@media screen and (max-width: 1200px) {
  header {
    padding: 10px 0 0 10px;
    .logo {
      left: 10px;
      top: 0px;
    }
    form {
      margin: 0px 0 0 170px;
    }
  }
}

@media screen and (max-width: 1000px) {
 header {
   padding: 10px 0 0 10px;
   .logo {
     top: 10px;
   }
   form {
     margin: 10px 0 0 170px;
   }
   .mobile {
     display: block;
   }
   .desktop {
     display: none;
   }
 }
}

footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 80px 20px;
  background: #111;
  .footer-left {
    flex: 2;
    text-align: right;
    img {
      display: block;
      width: 100px;
      height: auto;
      float: right;
      &.logo {
        position: relative;
      }
    }
  }
  .footer-middle {
    flex: 2;
    p {
      color: #999;
      font-size: 14px;
      line-height: 26px;
      margin: 0;
    }
  }
  .footer-right {
    flex: 2;
    padding-left: 20px;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        padding: 0 5px;
        a {
          display: block;
          padding: 5px 0;
          color: #fff;
          text-decoration: none;
          font-size: 14px;
          &:hover {
            text-decoration: underline;
            color: $blue;
          }
        }
        &.social {
          padding: 10px 0 0 0;
          a {
            display: inline-block;
            font-size: 22px;
            padding: 0 5px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  footer {
    flex-direction: column;
    padding: 20px;
    .footer-left, .footer-middle, .footer-right {
      flex: 1;
      text-align: center;
      padding: 10px 0;
      img {
        float: none;
        margin: 0;
        padding: 0;
        left: auto;
        top: auto;
        margin: 0 auto;
        width: 50px;
      }
      ul {
        &.navigation {
          display: flex;
          flex-direction: row;
          justify-content: center;
          flex-wrap: wrap;
          li {
            display: inline-block;
            width: 33.3%;
            padding: 5px;
            a {
              font-size: 16px;
            }
            &.social {
              padding: 10px;
              clear: both;
              width: 100%;
              text-align: center;
              a {
                font-size: 24px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  header {
    height: 80px;
    .logo {
      width: 70px;
      left: 10px;
      top: 10px;
    }
    form {
      width: 200px;
      margin: 10px 0 0 100px;
      input[type=text] {
        width: 180px;
        padding: 10px;
      }
      button[type=submit] {
        padding: 13px;
      }
    }
  }

  .toggle-nav {
    right: 12px;
    top: 18px;
    .fa {
      font-size: 20px;
    }
  }
  .main-container {
    &.single-item {
      padding: 70px 0 70px 0;
      margin: 0;
    }
  }
}

@import "home";
