.single-item {
  margin: 0 auto;
  margin-top: 60px;
  img {
    width: 100%;
    height: auto;
  }
  h1, h2, h3 {
    text-align: left;
    color: $blue;
    text-transform: none;
    padding: 0;
    font-weight: bold;
    margin: 20px 0 5px 0;
  }
  h1 {
    font-size: 32px;
    color: #000;
  }
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 20px;
  }
  p {
    margin: 0 0 20px 0;
  }
  .single-headline {
    height: 650px;
    width: 100%;
    background: #efefef;
    background-size: cover;
    background-position: top center;
  }
  .newsitem-content {
    position: relative;
    display: flex;
    .inner-content {
      .text {
        padding: 80px;
      }
      width: 700px;
      position: relative;
      background: #fff;
      margin-top: -150px;
      background: #fff;
    }
    .meta-info {
      flex: 1;
      width: 300px;
      background: $blue;
      margin: -100px 0 0 0;
      height: 300px;
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {

        }
      }
    }
  }

}

app-newsitem {
  min-height: 800px;
}

.comment-button {
  background: $blue;
  text-align: center;
  color: #fff;
  padding: 20px;
  font-size: 18px;
  display: block;
  text-transform: uppercase;
  width: 100%;
  box-sizing: border-box;
  border: none;
  outline: none;
  .fa {
    margin: 0 0 0 10px;
    color: #fff;
  }
}

.comment-comments-buttons {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 75%;
  align-content: flex-end;
  float: right;
  position: relative;
  right: -30px;
  bottom: -30px;
  top: auto;
  text-align: right;
  .comment-button {
    background: $blue;
    display: block;
    width: 50%;
    box-sizing: border-box;
    color: #fff;
    width: 50%;
    text-decoration: none;
    cursor: pointer;
    &.grey {
      background: #222;
    }
    &:hover {
      background: #000;
    }
  }
}

.comment-box-container {
  position: fixed;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  display: none;
  height: 60px;

  &.active {
    padding: 10px;
    width: 100%;
    height: 80%;
    background: #fff;
    z-index: 99;
    box-shadow: 0 -1px 3px 2px rgba(0,0,0,0.5);

  }
}

@media screen and (max-width: 1200px) {
  .comment-comments-buttons {
    right: auto;
    .fa {
      display: none;
    }
  }
}

@media screen and (max-width: 767px) {
  .single-item{
    width: 100%;
    box-sizing: border-box;
    h1, h2, h3 {
      text-align: left !important;
    }
    .single-headline {
      height: 400px;
    }
    .newsitem-content {
      .inner-content {
        margin: 0;
        padding: 20px;
        .text {
          padding: 20px;
        }
      }
      .meta-info {
        display: none;
      }
    }

  }
  .comment-comments-buttons {
    width: 100%;
    float: none;
    bottom: auto;
  }
}
