
.main-container {
  &.vervolg-page {
    margin-top: 100px;
  }
}

.program-results {
  text-align: center;
  color: #fff;
  padding-right: 30px;
}

.wedstrijd {
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .score {
    flex: 1;
    font-weight: bold;
    font-size: 20px;
  }
  .wedstrijd-details {
    flex: 3;
  }
  .clublogo {
    width: 40px;
    height: auto;
    display: block;
    img {
      width: 100%;
    }
    &.thuis {
      float: left;
    }
    &.uit {
      float: right;
    }
  }
  strong {
    &.date {
      display: block;
      color: $blue;
      font-size: 12px;
      margin-bottom: 3px;
    }
  }
}



.stand {
  color: #fff;
  padding: 0 0 0 80px;
  .inner {
    background: #111;
    padding: 20px;
  }
  table {
    width: 100%;
    line-height: 26px;
  }
}

.stand {
  padding-left: 30px;
  .stand {
    padding: 0;
  }
  .wedstrijd {
    display: block;
    padding: 0;
    span {
      display: inline-block;
      width: 30px;
      padding: 5px;
      font-size: 14px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      line-height: 1;
      &.clubnaam {
        width: 120px;
      }
      &.doelpuntentegen {
        width: 40px;
      }
    }
    .heracles {
      background: $blue;
      font-weight: bold;
      span {
        color: #fff;
      }
    }
  }
}


@media screen and(max-width: 700px) {
  .program-results {
    padding: 20px;
    box-sizing: border-box;
  }
  .stand {
    padding: 20px;
    box-sizing: border-box;
  }
}
