.comments {
  margin-top: 20px;
  width: 700px;
  box-sizing: border-box;
  h3 {
    text-align: left;
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      line-height: 30px;
      width:100%;
      box-sizing: border-box;
      margin: 40px 0;
      h3 {
        font-size: 18px;
        text-transform: none;
        font-weight: bold;
        padding: 0 20px;
        margin-bottom: 10px;
        .author {
          font-weight: bold;
          color: #fff;
          margin-right: 10px;
        }
        .date {
          color: #009ee2;
          font-weight: normal;
        }
      }
      h3, p {
        color: #000;
      }
      .comment-content {
        background: #fff;
        padding: 20px;
        .cld-like-dislike-wrap {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
        }
        .cld-like-wrap, .cld-dislike-wrap {
          display: flex;
          align-items: flex-end;
          flex-direction: row;
          justify-content: flex-end;
          .fa {
            margin: 0 10px 0 20px;
            &.fa-thumbs-up {
              color: green;
            }
            &.fa-thumbs-down {
              color: red;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .comments {
    width: 100%;
    padding: 0;
    ul {
      li {
        h3 {
          padding: 0 10px;
          text-align: left;
          .date {
            float: right;
          }
        }
      }
    }
  }
}
