.headlines {
    padding:0;
    margin: 140px 0 0 0;
    position: relative;
    top: 0px;
    left: 0;
    height: 760px;
    background: #000;
    border: 1px solid #000;
    list-style: none;
  }
  .content {
    height: 760px;
    display: block;
    background-size: cover;
    background-position: top center;
    position: relative;
    h2 {
      margin: 0;
      span {
        &.title {
          font-size: 40px;
          box-sizing: border-box;
          color: #fff;
          text-transform: uppercase;
          margin: 0;
          padding: 0;
        }
        &.date {
          color: #009ee2;
          display: block;
          font-size: 14px;
          margin: 10px 0;
        }
      }
    }
    span {
      &.continue, &.commentscount {
        display: inline-block;
        color: #009ee2;
      }
      &.continue {
        color: #009ee2;
        padding: 10px 0;
        }
      &.commentscount {
        color: #fff;
        padding: 20px;
        position: absolute;
        right: 0;
        top: 0;
        font-weight: bold;
        color: #009ee2;
        text-transform: uppercase;
        font-size: 30px;
        span {
          font-weight: normal;
          color: #fff;
          font-size: 20px;
        }
        .fa {
          color: #fff;
        }
      }
    }
    p {
      color: #fff;
      margin: 0;
    }
    .overlay {
      background-image: -webkit-gradient(
          linear, left top, left bottom, from(rgba(0,0,0,0.15)),
          to(rgba(0,0,0,0.15)), color-stop(1.5,#000)
      );
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
    }
    .inner-content {
      position: absolute;
      width: 60%;
      bottom: 0;
      padding: 50px 30px;
      z-index: 9;
      background: transparent;
    }
  }

.carousel-button-left, .carousel-button-right {
  width: 80px;
  z-index: 99;
  background: $blue;
  display: block;
  border: none;
  position: relative;
  z-index: 9;
  height: 80px;
  outline: none;
  float:right;
  margin: -250px 120px 0 0;
  color: #fff;
  display: none !important;
  &:hover {
    background: #222;
  }
}

.ngucarouselPoint {
  li {
    background: #fff !important;
    &.active {
      background: $blue !important;
    }
  }
}

.carousel-button-right {
  margin-right: 20px;
}

@media screen and (max-width: 767px) {
  .headlines {
      height: 500px;
      margin-top: 70px;
      .content {
        height: 500px;
      }
    .inner-content {
      padding: 50px 30px 70px 30px;
      z-index: 5;
    }
  }

    .content {
      h2 {
        span.title {
          font-size: 30px;
        }
      }
      p, span {
        &.date {
          margin: 40px 0 0 0;
          position: absolute;
        }
        &.excerpt, &.continue {
          display: none;
        }
      }
    }
  }
  .carousel-button-left, .carousel-button-right {
    width: 60px;
    height: 60px;
    margin: -30px 20px 0 0;
  }
  .carousel-button-left {
    right: 61px;
  }
