.instagram-container {
  h3 {
    .fa {
      color: #fff;
      text-decoration: none;
      &:hover {
        color: $blue;
      }
    }
  }
}

.instagram {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  width: 100%;
  .instagrampost {
    width: 25%;
    height: auto;
    overflow: hidden;
    border-right: 1px solid #000;
    img {
      width: 100%;
      height: auto;
    }
  }
}
