@keyframes blink {
  0% {
    opacity: .3;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .3;
  }
}

.loader {
  text-align: center;
  padding: 15px;
  display: block;
}

.loader span {
  display: inline;
  animation-name: blink;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  color: $blue;
  font-size: 45px;
}

.loader span:nth-child(2) {
  animation-delay: .2s;
}

.loader span:nth-child(3) {
  animation-delay: .4s;
}
