.modal-open {
  .modal {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.9);
  }
  .modal-content {
    width: 80%;
    max-width: 500px;
    height: 80%;
    position: fixed;
    max-height: 400px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    .modal-header {
      h3 {
        text-transform: uppercase;
        margin: 0;
        font-weight: normal;
        strong {
          font-weight: bold;
          color: $blue;
        }
      }
      button {
        background: transparent;
        display: inline-block;
        border: none;
        float: right;
        color: #fff;
        font-size: 20px;
        margin: 10px 0 0 0;
        &:hover {
          color: $blue;
        }
      }
    }
    .modal-body {
      background: #fff;
      padding: 20px;
      textarea, input[type=text], input[type=email] {
        width: 100%;
        box-sizing: border-box;
        outline: none;
        border: 1px solid #ddd;
        display: block;
        margin: 0 0 10px 0;
        font-size: 14px;
        padding: 10px;
        -webkit-appearance: none;
        border: 1px solid #ddd;
        font-size: 16px;
        &:focus, &:active {
          border: 1px solid #000;
        }
      }
      textarea {
        height: 120px;
      }
    }
  }
}


