.image-container {
  height: 80px;
  overflow: hidden;
}

h3 {
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  padding: 10px;
  font-size: 24px;
  text-align: center;
  strong {
    font-weight: 900;
  }
}

ul {
  &.newsitems {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: flex-start;
    margin-left: auto;
    padding: 0;
    li {
      width: 25%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      position: relative;
      padding: 10px;
      transition: all 0.2s ease-in;
      * {
        transition: all 0.3s ease-in;
      }
      a {
        display: block;
        text-decoration: none;
        height: 100%;
        background: #fff;
        .image-container {
          height: 180px;
          background-size: cover;
          background-position: top center;
        }
        .content-container {
          padding: 50px 20px;
          h4 {
            color: #000;
            font-size: 15px;
            padding: 10px;
            text-transform: uppercase;
          }
          span {
            color: #666;
            text-transform: uppercase;
            font-size: 14px;
            padding: 0 10px;
            span {
              padding: 0;
            }
          }
        }
        &:hover {
          .content-container {
            h4 {
              color: #009ee2;
            }
            span {
              color: #fff;
            }
          }
        }
        &:hover {
          background: #000;
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  ul {
    &.newsitems {
      li {
        width: 50%;
      }
    }

  }
}

@media screen and (max-width: 767px) {
  ul {
    // display: none;
    &.newsitems {
      li {
        width: 100%;
        padding: 0 0 10px 0;
        a {
          display: flex;
          flex-direction: row;
          .image-container {
            flex: 2;
            height: 140px;
          }
          .content-container {
            flex: 3;
            padding: 20px;
            h4 {
              margin: 0;
            }
          }
        }
      }
    }
  }
}
