.container {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}

.two-columns, .three-columns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.two-columns {
  .column {
    width: 50%;
  }
}

.three-columns {
  .column {
    width: 33.3%;
  }
}

.column {
  .inner-content {
    padding: 20px;
  }
}

.padding {
  padding: 40px;
}

@media screen and (max-width: 1200px) {
  .container {
    width: auto;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 100%;
  }
  .two-columns {
    flex-direction: column;
    .column {
      width: 100%;
    }
  }
  .three-columns {
    flex-direction: column;
    .column {
      width: 100%;
    }
  }
}
