* {
  font-family: Roboto;
}

p {
  line-height: 26px;
}

.text-center {
  text-align: center;
}

h3, h4 {
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 26px;
  strong {
    font-weight: 900;
    color: #009ee2;
  }
}

app-volgendewedstrijd {
  h2, h3, h4 {
    color: #fff;
    strong {
      color: #fff;
    }
  }
}

@media screen and (max-width: 767px) {
  .main-container {
    h3 {
      text-align: center;
    }
  }
}
