.loader-overlay {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0,0,0,0.8);
  z-index: 99;
  .loader {
    position: fixed;
    width: 100px;
    height: 100px;
    left: 50%;
    top: 50%;
    margin: -50px 0 0 -50px;
    animation: spinner 2s infinite;
    .loading-logo {
      background: #fff;
      width: 100%;
      padding: 10px 0;
    }
  }
}

@keyframes spinner {
  0%   {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

