<div class="container">
  <div class="main-container single-item">
    <div class="container" *ngIf="post;">
      <div class="single-headline" [ngStyle]="{'background-image': 'url(' + post.better_featured_image.source_url + ')'}"></div>
      <div class="mobile-only">
        <div class="comment-comments-buttons">
          <a class="comment-button" (click)="commentModal.open()">
            Reageer <span class="fa fa-comment"></span>
          </a>
          <a class="comment-button grey" (click)="goToComments()">
            {{ post.comments_count }} Reacties
          </a>
        </div>
      </div>
      <div class="newsitem-content">
        <div class="inner-content">
          <div class="text">
            <h1 [innerHtml]="post.title.rendered"></h1>
            <div class="article">
              <div [innerHtml]="post.content.rendered"></div>
            </div>
          </div>
          <div class="desktop-only">
            <div class="comment-comments-buttons">
              <a class="comment-button" (click)="commentModal.open()">
                Plaats reactie <span class="fa fa-comment"></span>
              </a>
              <a class="comment-button grey" (click)="goToComments()">
                {{ post.comments_count }} Reacties
              </a>
            </div>
          </div>
        </div>
        <div class="meta-info">
          <ng-adsense
            [adClient]="'ca-pub-4265409979767213'" [adSlot]="9711506203"
            [display]="'inline-block'"
            [width]="300"
            [height]="600">
          </ng-adsense>
        </div>
      </div>

      <div #commentSection>
        <div class="comments" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="0" (scrolled)="onScroll()">
          <ul>
            <li *ngFor="let comment of comments">
              <h3>
                <span class="author" [innerHtml]="comment.author_name"></span>
                <span class="date">{{ comment.date | date }}</span>
              </h3>
              <div [innerHtml]="comment.content.rendered" class="comment-content"></div>
            </li>
          </ul>
        </div>
        <span class="loader" *ngIf="showLoader;">
          <span>.</span><span>.</span><span>.</span>
        </span>
      </div>
      </div>
  </div>
</div>
<modal #commentModal>
  <modal-header>
    <h3>
      <strong>Reactie</strong> plaatsen
    </h3>
  </modal-header>
  <modal-content>
    <input type="text" [(ngModel)]="user.name" name="user.name" placeholder="Naam" />
    <input type="email" [(ngModel)]="user.email" name="user.email" placeholder="E-mail" />
    <textarea [(ngModel)]="content" name="content" placeholder="Plaats hier je reactie"></textarea>
  </modal-content>
  <modal-footer>
    <a (click)="addComment();" title="Reageren" class="comment-button">
      Plaats reactie <span class="fa fa-comment"></span>
    </a>
  </modal-footer>
</modal>
