<div class="container">
  <div class="main-container vervolg-page">
        <div class="two-columns">
          <div class="program-results column">
            <h3><strong>Komende</strong> wedstrijden</h3>
            <div *ngFor="let wedstrijd of programma" class="wedstrijd">
              <div class="clublogo">
                <img src="../../../assets/images/logos/{{wedstrijd.thuisClub}}.svg" class="clublogo thuis" />
              </div>
              <div class="wedstrijd-details">
                <strong class="date">{{ wedstrijd.speelMoment | date: 'dd-MM-yyyy' }}, {{ wedstrijd.speelMoment | date: 'H:mm' }}</strong>
                {{ wedstrijd.thuisClub }} - {{ wedstrijd.uitClub }}
              </div>
              <div class="clublogo">
                <img src="../../../assets/images/logos/{{wedstrijd.uitClub}}.svg" class="clublogo uit" />
              </div>
            </div>
            <h3><strong>Gespeelde</strong> wedstrijden</h3>
            <div *ngFor="let wedstrijd of gespeeldeWedstrijden" class="wedstrijd">
              <div class="clublogo">
                <img src="../../../assets/images/logos/{{wedstrijd.thuisClub}}.svg" class="clublogo uit" />
              </div>
              <div class="score">
                {{ wedstrijd.stand.thuisGoals }}
              </div>
              <div class="wedstrijd-details">
                <strong class="date">{{ wedstrijd.speelMoment | date: 'dd-MM-yyyy' }}, {{ wedstrijd.speelMoment | date: 'H:mm' }}</strong>
                {{ wedstrijd.thuisClub }} - {{ wedstrijd.uitClub }}
              </div>
              <div class="score">
                {{ wedstrijd.stand.uitGoals }}
              </div>
              <div class="clublogo">
                <img src="../../../assets/images/logos/{{wedstrijd.uitClub}}.svg" class="clublogo uit" />
              </div>
            </div>
          </div>
          <div class="stand column">
              <h3>Stand <strong>Eredivisie</strong></h3>
              <div class="inner">
                <div class="stand">
                  <div class="wedstrijd" *ngFor="let club of stand">
                    <div [ngClass]="{ heracles: club.club === 'Heracles'}">
                      <span>{{ club.positie }}</span>
                      <span class="clubnaam">{{ club.club }}</span>
                      <span>{{ club.wedstrijdenGespeeld }}</span>
                      <span class="desktop-only">{{ club.gewonnen }}</span>
                      <span class="desktop-only">{{ club.gelijk }}</span>
                      <span class="desktop-only">{{ club.verloren }}</span>
                      <span><strong>{{ club.punten }}</strong></span>
                      <span>{{ club.doelpuntenGescoord }}</span>
                      <span class="doelpuntentegen">- {{ club.doelpuntenTegen }}</span>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
    </div>
</div>

