
<ngu-carousel class="headlines" [inputs]="headlinesCarousel" (carouselLoad)="myfunc($event)">
  <ngu-item NguCarouselItem *ngFor="let headline of headlines">
    <a class="content" routerLink="nieuws/{{ headline.id }}" [ngStyle]="{'background-image': 'url(' + headline.better_featured_image.source_url + ')'}">
      <div class="overlay"></div>
      <div class="inner-content">
        <h2>
          <span class="title" [innerHTML]="headline.title.rendered"></span>
          <span class="date">{{ headline.date | date: 'dd-MM-yyyy' }}</span>
        </h2>
        <span class="excerpt" [innerHTML]="headline.excerpt.rendered"></span>
        <span class="continue">Lees verder</span>
      </div>
      <span class="commentscount">{{ headline.comments_count }} <span>reacties</span></span>
    </a>
  </ngu-item>
  <button NguCarouselPrev class='leftRs'>&lt;</button>
  <button NguCarouselNext class='rightRs'>&gt;</button>
</ngu-carousel>
