<div class="instagram-container column">
  <h3 class="text-center">Volg ons op <strong>Instagram</strong> <a class="fa fa-instagram" href="https://www.instagram.com/hafcnl/" target="_blank"></a></h3>
  <div class="instagram">
    <div class="instagrampost" *ngFor="let instagramItem of instagramItems">
      <img src="{{ instagramItem.images.standard_resolution.url }}"/>
    </div>
  </div>
</div>
