@import "global/grid";
@import "variables/colors";
@import "layout/layout";
@import "components/headline";
@import "components/news_items";
@import "components/comments";
@import "components/instagram";
@import "components/modal";
@import "components/loader";
@import "layout/newsitem.scss";
@import "layout/vervolgpage";


@import "global/typo";

html, body {
  padding: 0;
  margin: 0;
  background: url('assets/images/achtergrond.png') fixed top center no-repeat;
  background-size: cover;
}


body {

}

img {
  display: block;
}

* {
  box-sizing: border-box;
}


@media screen and(min-width: 700px) {
  .desktop-only {
    display: block !important;
  }
  .mobile-only {
    display: none !important;
  }
}

@media screen and(max-width: 700px) {
  .desktop-only {
    display: none !important;
  }
  .mobile-only {
    display: block !important;
  }
}
