<h3><strong>Heracles</strong> nieuws</h3>
<ul class="newsitems">
    <li *ngFor="let post of posts">
      <a routerLink="/nieuws/{{ post.id }}" routerLinkActive="active">
        <div class="image-container" [ngStyle]="{'background-image': 'url(' + post.better_featured_image.source_url + ')'}"></div>
        <div class="content-container">
          <h4 [innerHTML]="post.title.rendered"></h4>
          <span>{{ post.date | date: 'dd-MM-yyyy' }}</span><span routerLink="/nieuws/{{ post.id }}">{{ post.comments_count }} <span class="fa fa-comment"></span></span>
        </div>
      </a>
    </li>
</ul>
<a class="lees-meer" routerLink="/nieuws" title="Nieuwsarchief">Nieuwsarchief</a>
