<footer>
  <div class="footer-left">
    <a routerLink="/" title="home">
      <img class="logo" src="../../../../../assets/images/logo_hafc.svg" />
    </a>
  </div>
  <div class="footer-middle">
    <p>HAFC.nl is een onafhankelijke supporterssite van Heracles Almelo en is niet verantwoordelijk voor de reacties die onder de nieuwsberichten achtergelaten worden. Reacties met het daarbij horende ip-adres worden opgeslagen in de database. Indien nodig, kunnen wij aan de hand van dit adres actie ondernemen.</p>
  </div>
  <div class="footer-right">
    <ul class="navigation">
      <li class="social">
        <a href="https://www.facebook.com/hafc1903/" target="_blank" title="HAFC.nl Facebook">
          <span class="fa fa-facebook"></span>
        </a>
        <a href="https://twitter.com/heracles1903" target="_blank" title="HAFC Twitter">
          <span class="fa fa-twitter"></span>
        </a>
        <a href="https://www.instagram.com/hafcnl/" target="_blank">
          <span class="fa fa-instagram"></span>
        </a>
      </li>
    </ul>
  </div>
</footer>
