
<header>
  <nav>
    <div class="container">
      <a routerLink="/" title="home">
        <img class="logo" src="../../../assets/images/logo_hafc.svg" />
      </a>
      <app-search></app-search>
      <div class="desktop">
        <ul class="navigation" [ngClass]="{active: showNav }">
          <li>
            <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/" title="Home">Home</a>
          </li>
          <li>
            <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/nieuws" title="Nieuws">Nieuws</a>
          </li>
          <li>
            <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/eredivisie/wedstrijden" title="Wedstrijden">Wedstrijden</a>
          </li>
          <li class="social">
            <a href="https://www.facebook.com/hafc1903/" target="_blank" title="HAFC.nl Facebook">
              <span class="fa fa-facebook"></span>
            </a>
            <a href="https://twitter.com/heracles1903" target="_blank" title="HAFC Twitter">
              <span class="fa fa-twitter"></span>
            </a>
            <a href="https://www.instagram.com/hafcnl/" target="_blank">
              <span class="fa fa-instagram"></span>
            </a>
          </li>
        </ul>
      </div>
      <div class="mobile">
        <a class="toggle-nav" (click)="toggleNav();">
          <span class="fa fa-bars"></span>
        </a>
        <ul class="navigation"[ngClass]="{active: showNav }">
          <li>
            <a routerLink="/" title="Home" (click)="closeMenu();">Home</a>
          </li>
          <li>
            <a routerLink="/nieuws" (click)="closeMenu();" title="Nieuws">Nieuws</a>
          </li>
          <li>
            <a routerLink="/eredivisie/wedstrijden" (click)="closeMenu();" title="Stand">Wedstrijden</a>
          </li>
          <li>
            <a routerLink="/eredivisie/contact" (click)="closeMenu();" title="Contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<router-outlet></router-outlet>
<app-footer></app-footer>
<div class="overlay" [ngClass]="{ active: showNav }"></div>
