<div class="container">
  <app-headline [headlines]="headlines"></app-headline>
  <div class="main-container">
    <app-volgendewedstrijd></app-volgendewedstrijd>
    <app-newsitems [posts]="posts"></app-newsitems>
    <div class="two-columns eredivisie-container">
      <div class="programma-container column">
        <h3>Komende <strong>wedstrijden</strong></h3>
        <div class="inner-content">
          <div *ngFor="let wedstrijd of programma" class="wedstrijd">
            <div class="clublogo">
              <img src="../../../assets/images/logos/{{wedstrijd.thuisClub}}.svg" class="clublogo thuis" />
            </div>
            <div class="wedstrijd-details">
              <strong class="date">{{ wedstrijd.speelMoment | date: 'dd-MM-yyyy' }}, {{ wedstrijd.speelMoment | date: 'H:mm' }}</strong>
              {{ wedstrijd.thuisClub }} - {{ wedstrijd.uitClub }}
            </div>
            <div class="clublogo">
              <img src="../../../assets/images/logos/{{wedstrijd.uitClub}}.svg" class="clublogo uit" />
            </div>
          </div>
        </div>
        <a class="lees-meer" routerLink="/eredivisie/wedstrijden" title="Volledige programma">Volledige programma</a>
      </div>
      <div class="stand-container column">
        <h3>Stand <strong>Eredivisie</strong></h3>
        <div class="inner-content">
          <div class="stand">
            <div class="wedstrijd" *ngFor="let club of stand">
              <div [ngClass]="{ heracles: club.club === 'Heracles'}">
                <span>{{ club.positie }}</span>
                <span class="clubnaam">{{ club.club }}</span>
                <span>{{ club.wedstrijdenGespeeld }}</span>
                <span class="desktop-only">{{ club.gewonnen }}</span>
                <span class="desktop-only">{{ club.gelijk }}</span>
                <span class="desktop-only">{{ club.verloren }}</span>
                <span><strong>{{ club.punten }}</strong></span>
                <span>{{ club.doelpuntenGescoord }}</span>
                <span class="doelpuntentegen">- {{ club.doelpuntenTegen }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-instagram></app-instagram>
