<div class="container">
  <div class="main-container vervolg-page">
    <h3>Je zocht op <strong>{{ searchString }}</strong></h3>
    <ul class="newsitems" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="0" (scrolled)="onScroll()">
      <li *ngFor="let post of posts">
        <a routerLink="/nieuws/{{ post.id }}" routerLinkActive="active">
          <div class="image-container" [ngStyle]="{'background-image': 'url(' + post.better_featured_image.source_url + ')'}"></div>
          <div class="content-container">
            <h4 [innerHTML]="post.title.rendered"></h4>
            <span>{{ post.date | date: 'dd-MM-yyyy' }}</span><span routerLink="/nieuws/{{ post.id }}">{{ post.comments_count }} <span class="fa fa-comment"></span></span>
          </div>
        </a>
      </li>
    </ul>
    <span class="loader" *ngIf="showLoader;">
      <span>.</span><span>.</span><span>.</span>
    </span>
  </div>
</div>
