<form [formGroup]="form">
  <input name="zoekterm" formControlName="searchString" type="text">
  <button type="submit" [disabled]="!form.valid" (click)="onSubmit()">
    <span class="fa fa-search"></span>
  </button>
</form>
