<div class="volgende-wedstrijd">
  <h2>Volgende <strong>wedstrijd</strong></h2>
  <div class="logos">
    <img class="clublogo" src="../../../assets/images/logos/{{ thuisClub }}.svg" /> - <img class="clublogo" src="../../../assets/images/logos/{{ uitClub }}.svg" />
  </div>
  <h3><strong>{{ speelMoment | date: 'dd-MM-yyyy' }}</strong> {{ speelMoment | date: 'H:mm' }}</h3>
  <h4>@ {{ stadion }}</h4>
</div>
